body{
    /* background-color: hsl(0, 0%, 0%); */

}

.inp{
    font-size: large;
    height: 2rem;
    width: 25rem;
    border-radius: 10px;
    margin-left: 2px; 
    
}

.btn{
    background-color: rgb(255, 0, 0) ;
    color: white;
    font-size: large;
    border-radius: 15px;
    height: 2rem;
    width: 5rem;
    margin-left: 2px;
}

